extends layout

block hero-unit
  .jumbotron
    .container
      h1 Ho-Ong-E Survey

block content
  .container
    .row
      .col-md-6
        h3 설문조사
        p 설문조사를 하기 위해선 왼쪽 위 Survey를 눌러주세요.
      .col-md-6
        h3 주요 기능
        ul
          li 사용자 관리
          li 설문조사
          li 통계
          li 페이스북 로그인
  
